/*div{
    max-width: 100%;
    min-width: 360px;
    margin:auto:
}*/

.nav {
    display: inline-block;
    margin: 10px 10px;
    height:100px;
    width:80%;  
    background-color:#6b9080;
}


/*$color1: #35524a; //rgba(53, 82, 74, 100)
$color2: #f4f4f9; //rgba(244, 244, 249, 100)
$color3: #6b9080; //rgba(107, 144, 128, 100)
$color4: #cdc5b4; //rgba(205, 197, 180, 100)
$color5: #1e1e1e; //rgba(30, 30, 30, 100)*/


body{
    background-color:#cdc5b4;
    height:50px;
    margin: 5px 5px 5px 5px;
}
.header {
    color:#6b9080;
    width:100%;
}
    
    /*display: inline-block;
    margin: 10px 10px;
    height:100px;
    width:90%;
}*/

/*#body {
    display: inline-block;
    margin: 10px 10 px;
    height:500px;
    width:20%;
}*/
a:link {
    text-decoration: none;
}
a{
    color:#1e1e1e;
}

a:hover{
    color:#ffe066;
}

.nav {
    position:relative;
    left:04px;
}

#list li {
        display: inline-block;
        width: 100px;
        height: 25px;
        /*text-align:center;*/
        vertical-align: center;
        padding-top:6px;
        position:relative;
        left:-35px;
        }

/*#li  {
    background-color:#35524a;
    color: #1E1E1E;
    decoration:none;
    padding-bottom:10px;
}*/

#list {
    text-align: center;
    font-family:Vidaloka,sans-serif;
    color:#1e1e1e;
    font-size:16px;
    letter-spacing: 2px;
    }

body {
    background-color:#cdc5b4;
    width: 100%;
    text-align: center;
    height:50px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px
}
h1{
    font-size: 40px;
    font-family: Vidaloka, sans-serif;
    font-weight:100;
    color:#6b9080;
    text-align: center;
}

h2{
    font-size: 20px;
    font-family: Vidaloka, sans-serif;
    font-weight:100; 
    color:#35524a;
    text-align: center;
}

#subject{
    font-size: 40px;
    font-family: Vidaloka, sans-serif;
    font-weight:100;
    background-color: #1e1e1e;
    color: #cdc5b4;
}
p {
    font-size:14px;
    font-family: 'Open Sans', sans-serif;;
    font-weight:400;
    letter-spacing: .1em;
    color:#1e1e1e;
    text-align: left;

}
.center {
    text-align:center;
}

#column1, #column2{
    display: inline-block;
    margin: 10px 10px 10px 10px;
    width:35%;
    vertical-align: top;
    text-align: center;
    border: none;   
}

img {
    max-width:70%;
    text-align:center;
    margin:1px auto 1px auto;
    border: solid 2px #6b9080;
    }
    
iframe {
    border: solid 2px #6b9080;
}

.caption{
    width:335px;
    text-align:left;
    margin:1px auto 1px auto;
    font-size: 8px;
    background-color: #6b9080;
    position:relative;
    top:-19px;
    left:0px;
    }
    
/*#column2{
    margin: 10px 10px:
    width:20%;
    display:in-line block;
    vertical-align: top;
    text-align: center;   
}*/

.footer {
    width:400px;
    display: inline-block;
    margin-top:20px;
    
}